<h1 class="text-center mt-4">LOGOWANIE</h1>

<div class="row justify-content-center mb-5">
  <div class="col-8 bg-white p-4">

    <%= form_with(scope: :session, url: login_path) do |form| %>
      <div class="mb-3">
        <%= form.label :email, 'E-mail', class: 'form-label' %>
        <%= form.text_field :email, class: 'form-control bg-light'  %>
      </div>

      <div class="mb-3">
        <%= form.label :password, 'Hasło', class: 'form-label' %>
        <%= form.password_field :password, class: 'form-control bg-light'  %>
      </div>

      <div class="mb-3">
        <%= form.submit 'Zaloguj się', class: 'btn btn-primary w-100' %> 
      </div>
    <% end %>
    
    <%= link_to '[ Nie masz konta? Zarejestruj się! ]', new_user_path, class: "text-primary" %>

  </div>
</div>
<%= link_to '[ Powrót do strony głównej ]', items_path, class: "text-info" %>
