<h1 class="text-center mt-4">LOGOWANIE</h1>

<div class="row justify-content-center mb-5 flex-fill">
  <div class="col-8 bg-white p-4 d-flex flex-column justify-content-center rounded">

    <%= form_with(scope: :session, url: login_path) do |form| %>
      <div class="mb-3">
        <%= form.label :email, 'E-mail', class: 'form-label' %>
        <%= form.text_field :email, class: 'form-control bg-light'  %>
      </div>

      <div class="mb-3">
        <%= form.label :password, 'Hasło', class: 'form-label' %>
        <%= form.password_field :password, class: 'form-control bg-light'  %>
      </div>

      <div class="mb-3">
        <%= form.submit 'Zaloguj się', class: 'btn btn-primary w-100' %> 
      </div>
    <% end %>
    Nie masz konta?
    <%= link_to 'Zarejestruj się!', new_user_path, class: "text-primary" %>

  </div>
</div>
<%= link_to items_path, class: "text-info link" do %>
  <i class="bi-arrow-left-short">Powrót do strony głównej</i>
<% end %>
