<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<h1 class="text-center mt-4">REJESTRACJA</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 card">
    
    <%= form_with model: @user do |form| %>
      <div>
        <%= form.label :name, 'Imię' %><br>
        <%= form.text_field :name %>
      </div>

      <div>
        <%= form.label :surname, 'Nazwisko' %><br>
        <%= form.text_field :surname %>
      </div>

      <div>
        <%= form.label :username, 'Login' %><br>
        <%= form.text_field :username %>
      </div>

      <div>
        <%= form.label :email, 'E-mail' %><br>
        <%= form.text_field :email %>
      </div>

      <div>
        <%= form.label :password, 'Hasło' %><br>
        <%= form.password_field :password %>
      </div>

      <div>
        <br>
        <%= form.submit 'Dodaj' %>
      </div>
    <% end %>
    <%= link_to '[ Masz już konto? Zaloguj się! ]', login_path, class: "text-primary" %>
    
    </div>
  </div>
</div>
<%= link_to '[ Powrót do strony głównej ]', items_path, class: "text-info" %>

