<h1 class="text-center mt-4">REJESTRACJA</h1>
<div class="row justify-content-center mb-5">
  <div class="col-8 bg-white p-4 rounded">
    
    <%= form_with model: @user do |form| %>
      <div class="mb-3">
        <%= form.label :name, 'Imię', class: 'form-label' %>
        <%= form.text_field :name, class: 'form-control bg-light'  %>
      </div>

      <div class="mb-3">
        <%= form.label :surname, 'Nazwisko', class: 'form-label' %>
        <%= form.text_field :surname, class: 'form-control bg-light'  %>
      </div>

      <div class="mb-3">
        <%= form.label :username, 'Login', class: 'form-label' %>
        <%= form.text_field :username, class: 'form-control bg-light'  %>
      </div>

      <div class="mb-3">
        <%= form.label :email, 'E-mail', class: 'form-label' %>
        <%= form.text_field :email, class: 'form-control bg-light'  %>
      </div>

      <div class="mb-3">
        <%= form.label :password, 'Hasło', class: 'form-label' %>
        <%= form.password_field :password, class: 'form-control bg-light'  %>
      </div>

      <div class="mb-3">
        <br>
        <%= form.submit 'Utwórz konto', class: 'btn btn-primary w-100' %>
      </div>
    <% end %>
     Masz już konto?
    <%= link_to 'Zaloguj się!', login_path, class: "text-primary" %>
    
  </div>
</div>
<%= link_to items_path, class: "text-info link" do %>
<i class="bi-arrow-left-short">Powrót do strony głównej</i>
<% end %>

