<div class="d-flex flex-column bg-white w-25 m-2 p-3">
  <%= link_to item, class: 'text-decoration-none text-dark col' do %>
    <div class="w-100 ratio ratio-4x3">
      <% if item.image.attached? %>
        <img src="<%=(url_for(item.image))%>" class="img-fluid" alt="Zdjęcie oferty">
      <% else %>
        <%= image_tag "game.png", class:"img-fluid" %>
      <% end %>
    </div>
    <div class="mt-3">
      <h5><%= item.title %></h5>
      <% if false %>
        <span>Opis: <%= item.description %></span><br>
        <span>Stan: <%= item.condition %></span><br>
        <span>Autor: <%= item.author %></span><br>
      <% end %>
      <span>Właściciel: <%= item.user.username %></span>
    </div>
  <% end %>
  <%= link_to 'Wymień się!', new_trade_path(item_id: item.id), class:"btn btn-primary mt-3" %>
</div>