<div class="col-3">
  <div class="d-flex flex-column bg-white p-3 shadow rounded">
    <% if can_edit %>
      <div class="position-absolute align-self-end m-2" style="z-index: 3">
        <%= button_to item, class: 'btn btn-secondary', method: :delete do %>
          <i class="bi-trash"></i>
        <% end %>
      </div>
    <% end %>
    <%= link_to item, class: 'text-decoration-none text-dark col' do %>
      <div class="w-100 ratio ratio-4x3">
        <% if item.images.attached? %>
          <img src="<%=(url_for(item.images[0]))%>" class="img-fluid" alt="Zdjęcie oferty">
        <% else %>
          <%= image_tag "game.png", class:"img-fluid" %>
        <% end %>
      </div>
      <div class="mt-3">
        <h5><%= item.title %></h5>
        <% if in_trade %>
          <span><b>Opis:</b> <%= item.description.truncate(50) %></span><br>
          <span><b>Stan:</b> <%= item.condition %></span><br>
          <span><b>Autor:</b> <%= item.author %></span><br>
        <% end %>

        <% if item.group == false %>
          <i class="bi-book"></i> 
        <% else %>
          <i class="bi-dice-3"></i>
        <% end %>

        <span> <i>Dodano <%= item.created_at.to_date %> przez <%= item.user.username %></i></span>
      </div>
    <% end %>
    <% if !can_edit && !in_trade%>
      <%= link_to 'Wymień się!', new_trade_path(item_id: item.id), class:"btn btn-primary mt-3" %>
    <% end %>
  </div>
</div>