<h1 class="text-center mt-4">OGŁOSZENIA</h1>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<%= form_tag(items_path, method: :get) do %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag ("Szukaj") %>
<% end %>
SORTOWANIE
Po nazwie:
<%= link_to 'Rosnąco', items_path(sort_type: 'LOWER(title)'), class:"btn btn-primary" %>
<%= link_to 'Malejąco', items_path(sort_type: 'LOWER(title) DESC'), class:"btn btn-primary" %>
Po dacie dodania:
<%= link_to 'Rosnąco', items_path(sort_type: 'created_at'), class:"btn btn-primary" %>
<%= link_to 'Malejąco', items_path(sort_type: 'created_at DESC'), class:"btn btn-primary" %>
FILTROWANIE
<div data-controller="hello">
  <button data-action="click->hello#test">pik</button>
</div> 

<div class="d-flex p-12 bd-highlight">
  <% @items.each do |item| %>

      <div class="card px-2" style="width: 18rem;">
      <% if item.image.attached? %>
        <img class="card-img-top" src="<%=(url_for(item.image))%>" alt="Zdjęcie oferty">
        <% else %>
        <%= image_tag "game.png", width: 200, class:"card-img-top" %>
      <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= link_to item.title, item, class:"link"%></h5>
            <p class="card-text">
              Opis: <%= item.description %> <br>
              Stan: <%= item.condition %> <br>
              Autor: <%= item.author %> <br>
              Właściciel: <%= item.user.username %> <br>
              <%= link_to 'Wymień się!', new_trade_path(item_id: item.id), class:"btn btn-primary" %>
            </p>
        </div>
      </div>
  <% end %>
</div>

