<h1 class="text-center mt-4">OGŁOSZENIA</h1>

<%= form_tag(items_path, method: :get, class: 'd-flex') do %>
  <%= text_field_tag :search, params[:search], placeholder: 'Szukaj...', class: 'col form-control' %>
  <div data-controller="search">
    <%= search_field_tag :place, params[:place], data: { 'search-target': "location", action: "keydown->search#preventSubmit" }, class: 'form-control' %>
  </div>
  <%= button_tag(type: 'submit', class: "btn btn-outline-primary") do %>
    Szukaj
    <i class="bi-search"></i>
  <% end %>
<% end %>

<div class="d-flex justify-content-end gap-1 align-items-center py-3">
  <div class="dropdown">
    <button style="min-width: 10rem;" class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Sortowanie
    </button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
      <li>
        <%= link_to items_path(sort_type: 'LOWER(title)'), class:"dropdown-item" do %>
          <i class="bi-arrow-up"></i>
          Nazwa
        <% end %>
      </li>
      <li>
        <%= link_to items_path(sort_type: 'LOWER(title) DESC'), class:"dropdown-item" do %>
          <i class="bi-arrow-down"></i>
          Nazwa
        <% end %>
      </li>
      <li>
        <%= link_to items_path(sort_type: 'created_at'), class:"dropdown-item" do %>
          <i class="bi-arrow-up"></i>
          Data
        <% end %>
      </li>
      <li>
        <%= link_to items_path(sort_type: 'created_at DESC'), class:"dropdown-item" do %>
          <i class="bi-arrow-down"></i>
          Data
        <% end %>
      </li>
    </ul>
  </div>
  <%= link_to item_filter_path(filter: false), class:"btn btn#{"-outline" if session[:filter] != false}-primary", method: :post do %>
    <i class="bi-book"></i>
  <% end %>
  <%= link_to item_filter_path(filter: true), class:"btn btn#{"-outline" if session[:filter] != true}-primary", method: :post do %>
    <i class="bi-dice-3"></i>
  <% end %>
</div>

<div class="row gx-3 gy-3 pb-5">
  <% @items.each do |item| %>
    <%= render partial: 'item', locals: { item: item, can_edit: false, in_trade: false } %>
  <% end %>
</div>