<h1>BOOK ME! - homepage </h1>

<ul>
  <% @items.each do |item| %>
    <li>
      <%= link_to item.title, item%>
      <%= item.author %>
      <%= item.description %>
      <%= button_to 'DELETE', item, method: :delete %>
    </li>
  <% end %>
</ul>

<%= link_to 'DODAJ NOWY PRZEDMIOT', new_item_path%>

