
<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand"><h1>BOOK ME! - homepage</h1></a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>


<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<ul>
  <% @items.each do |item| %>
    <li>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://media-cldnry.s-nbcnews.com/image/upload/newscms/2020_25/3390425/board-games-kr-2x1-tease-200616.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= link_to item.title, item%></h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <%= item.author %>
          <%= item.description %>
          <a href="#" class="btn btn-primary">Wymień się!</a>
          <%= button_to 'Usuń', item, method: :delete %>
        </div>
      </div>
      <br>
    </li>
  <% end %>
</ul>

<%= link_to 'DODAJ NOWY PRZEDMIOT', new_item_path%>


