<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>


<div class="d-flex p-12 bd-highlight">
  <% @items.each do |item| %>

      <div class="card" style="width: 18rem;">
      <% if item.image.attached? %>
        <img class="card-img-top" src="<%=(url_for(item.image))%>" alt="obrazek">
      <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= link_to item.title, item%></h5>
            <p class="card-text">
              Opis: <%= item.description %> <br>
              Stan: <%= item.condition %> <br>
              Autor: <%= item.author %> <br>
              <a href="#" class="btn btn-primary">Wymień się!</a>
              <%= button_to 'Usuń', @item, method: :delete %>
            </p>
        </div>
      </div>

  <% end %>
</div>

<%= link_to 'DODAJ NOWY PRZEDMIOT', new_item_path, class:"btn btn-outline-info"%>
<%= link_to 'DODAJ NOWEGO UŻYTKOWNIKA', new_user_path, class:"btn btn-outline-info"%>



