<h1 class="text-center mt-4">OGŁOSZENIA</h1>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<%= form_tag(items_path, method: :get) do %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag ("Szukaj") %>
<% end %>
SORTOWANIE
Po nazwie:
<%= link_to 'Rosnąco', items_path(sort_type: 'LOWER(title)'), class:"btn btn-primary" %>
<%= link_to 'Malejąco', items_path(sort_type: 'LOWER(title) DESC'), class:"btn btn-primary" %>
Po dacie dodania:
<%= link_to 'Rosnąco', items_path(sort_type: 'created_at'), class:"btn btn-primary" %>
<%= link_to 'Malejąco', items_path(sort_type: 'created_at DESC'), class:"btn btn-primary" %>
FILTROWANIE
<div data-controller="hello">
  <button data-action="click->hello#test">pik</button>
</div> 

<div class="d-flex p-5 bd-highlight">
  <% @items.each do |item| %>
    <%= render partial: 'item', locals: { item: item } %>
  <% end %>
</div>

