<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<h1>Dodaj nowy przedmiot</h1>

<%= form_with model: @item do |form| %>
  <div>
    <%= form.label :title, 'Tytuł' %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, 'Opis' %><br>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :author, 'Autor' %><br>
    <%= form.text_field :author %>
  </div>

  <div>
    <%= form.label :publisher, 'Wydawnictwo' %><br>
    <%= form.text_field :publisher %>
  </div>

  <div>
    <%= form.label :condition_id, 'Stan' %><br>
    <%= form.collection_select :condition_id, Condition.order(:name),:id,:name %>
  </div>

  <div>
    <%= form.label :group, 'Książka' %><br>
    <%= form.radio_button :group, false %>
    <%= form.label :group, 'Gra' %><br>
    <%= form.radio_button :group, true %>
  </div>

  <div>
    <%= form.label :image, 'Zdjęcia' %><br>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.submit 'Dodaj' %>
  </div>
<% end %>
