<h1>BOOK ME! - info </h1>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://media-cldnry.s-nbcnews.com/image/upload/newscms/2020_25/3390425/board-games-kr-2x1-tease-200616.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= @item.title%></h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <%= @item.author %>
      <%= @item.description %>
      <a href="#" class="btn btn-primary">Wymień się!</a>
    <%= button_to 'Usuń', @item, method: :delete %>
  </div>
</div>

<%= link_to 'Powrót', items_path %>
