<h1>BOOK ME! - info </h1>

<div class="card" style="width: 18rem;">
    <% if @item.image.attached? %>
      <img class="card-img-top" src="<%=(url_for(@item.image))%>" alt="obrazek">
    <% else %>
      <%= image_tag "game.png", width: 200, class:"card-img-top" %>
    <% end %>  
    <div class="card-body">
    <h5 class="card-title"><%= @item.title%></h5>
      <p class="card-text">
        Opis: <%= @item.description %> <br>
        Stan: <%= @item.condition %> <br>
        Autor: <%= @item.author %> <br>
        Właściciel: <%= @item.user.username %> <br>
        <% if logged_in? && @item.user.id == current_user.id %>
          <%= button_to 'Usuń', @item, method: :delete %>
        <% else %>
          <%= link_to 'Wymień się!', new_trade_path(item_id: @item.id), class:"btn btn-primary" %>
        <% end %>
      </p>
  </div>
</div>

<%= link_to 'Powrót', items_path %>
