<h1>BOOK ME! - info </h1>

<div class="card" style="width: 18rem;">
    <% if @item.image.attached? %>
      <img class="card-img-top" src="<%=(url_for(@item.image))%>" alt="obrazek">
    <% end %>  
    <div class="card-body">
    <h5 class="card-title"><%= @item.title%></h5>
      <p class="card-text">
        Opis: <%= @item.description %> <br>
        Stan: <%= @item.condition %> <br>
        Autor: <%= @item.author %> <br>
        <a href="#" class="btn btn-primary">Wymień się!</a>
        <%= button_to 'Usuń', @item, method: :delete %>
      </p>
  </div>
</div>

<%= link_to 'Powrót', items_path %>
