<h1 class="text-center mt-4">SZCZEGÓŁY OFERTY</h1>

<div class="row gx-5 justify-content-center">
  <div class="col-5">
    <div class="row">
      <div class="p-3 bg-white d-flex flex-column mb-3">
        <div class="ratio ratio-16x9">
          <% if @item.images.attached? %>
            <div id="carousel" class="carousel slide w-100 h-100" data-bs-ride="carousel">
              <div class="carousel-inner w-100 h-100">
                <% @item.images.each_with_index do |image, index| %>
                  <div class="carousel-item <%= 'active' if index == 0 %>">
                    <img src="<%=(url_for(image))%>" class="d-block img-fluid" alt="...">
                  </div>
                <% end %>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          <% else %>
            <%= image_tag "game.png", width: 200, class:"card-img-top" %>
          <% end %>
        </div>

        <h3 class="mt-3"><%= @item.title %></h3>
        <h6 class="mt-3 align-self-end">Wydawnictwo: <%= @item.publisher %></h6>
        <h6 class="mt-3 align-self-end">
          <i class="bi-geo-alt-fill"></i> <%= @item.place %>
        </h6>
      </div>
    </div>
    <div class="row mb-3">
      <div class="bg-white ratio ratio-16x9" data-controller="itemShow">
        <div class="p-3">
          <%= hidden_field_tag :latitude, @item.latitude, data: { 'itemShow-target': 'latitude' } %>
          <%= hidden_field_tag :longitude, @item.longitude, data: { 'itemShow-target': 'longitude' } %>
          <%= content_tag :div, nil, data: { 'itemShow-target': "map" }, class: 'map w-100 h-100' %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-5">
    <div class="p-3 bg-white rounded">
      <h5>Opis
        <% if @item.group == false %>
          <i class="bi-book"></i> 
        <% else %>
          <i class="bi-dice-3"></i>
        <% end %>
      </h5> 


      <p><%= @item.description %></p>
      <hr/>
      <h5>Właściciel</h5>
      <div>
        <h5><%= link_to @item.user.username, @item.user, class: 'link' %></h5>
      </div>
    </div>
    <% if logged_in? && @item.user != current_user %>
      <%= link_to 'Wymień się!', new_trade_path(item_id: @item.id), class:"btn btn-primary w-100 mt-3" %>
    <% end %>
  </div>
</div>