<h1 class="text-center mt-4">WYMIANA</h1>

<div class="card" style="width: 18rem;">
    <% if @item.image.attached? %>
      <img class="card-img-top" src="<%=(url_for(@item.image))%>" alt="obrazek">
    <% else %>
      <%= image_tag "game.png", width: 200, class:"card-img-top" %>
    <% end %>  
    <div class="card-body">
    <h5 class="card-title"><%= @item.title%></h5>
      <p class="card-text">
        Opis: <%= @item.description %> <br>
        Stan: <%= @item.condition %> <br>
        Autor: <%= @item.author %> <br>
        Właściciel: <%= @item.user.username %> <br>
      </p>
  </div>
</div>

<%= link_to 'Rezygnuj', items_path %>

WYMIANA ZA: <br>

<% @my_items.each do |i| %>
  <%= i.title %> <br>
<% end %>

<%= link_to 'Wyślij ofertę (brak linku)', items_path %>