<h1 class="text-center mt-4">WYMIANA</h1>

<%= form_with model: @trade do |form| %>
  <div class="row justify-content-center align-items-center">
    <%= render partial: 'items/item', locals: { item: @item, can_edit: false, in_trade: true } %>
    <i class="bi-arrow-repeat display-1 p-3 col-1"></i>
    <div class="bg-white p-3 ms-2 col-3" data-controller="trade">
      <%= form.hidden_field :owner_item_id, value: @item.id %>
      <%= form.hidden_field :owner_id, value: @item.user.id %>
      <%= form.hidden_field :trader_item_id, value: 0, 'data-trade-target': 'itemIdField' %>
      <h5>Wybierz przedmiot na wymianę:</h5>
      <div id="image_picker" class="w-100 ratio ratio-1x1">
        <div class="w-100 h-100 row p-2 overflow-auto">
          <% @my_items.each do |item| %>
            <div data-action="click->trade#choose" data-trade-name-param="<%= item.title %>" data-trade-id-param="<%= item.id %>" class="bg-white col-4">
              <div class="ratio ratio-1x1">
                <% if item.image.attached? %>
                  <img src="<%=(url_for(item.image))%>" class="img-fluid w-100 h-100 trade_image" alt="Zdjęcie oferty">
                <% else %>
                  <%= image_tag "game.png", class:"img-fluid w-100 h-100 trade_image" %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="mt-3">
        <span>Wybrany przedmiot: </span>
        <span data-trade-target="chosenText"></span>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-5">
      <%= form.submit 'Wyślij ofertę', class: 'btn btn-primary w-100 mt-4' %>
    </div>
  </div>
<% end %>

<%= link_to items_path, class:'link mt-5 pt-5' do %>
  <i class="bi-arrow-left-short">Rezygnuj</i>
<% end %>
