<h1 class="text-center mt-4">WYMIANA</h1>

<div class="card" style="width: 18rem;">
    <% if @item.image.attached? %>
      <img class="card-img-top" src="<%=(url_for(@item.image))%>" alt="obrazek">
    <% else %>
      <%= image_tag "game.png", width: 200, class:"card-img-top" %>
    <% end %>  
    <div class="card-body">
    <h5 class="card-title"><%= @item.title%></h5>
      <p class="card-text">
        Opis: <%= @item.description %> <br>
        Stan: <%= @item.condition %> <br>
        Autor: <%= @item.author %> <br>
        Właściciel: <%= @item.user.username %> <br>
      </p>
  </div>
</div>

<%= link_to 'Rezygnuj', items_path %>

WYMIANA ZA: <br>
<%= form_with model: @trade do |form| %>
  <% @my_items.each do |i| %>
    <%= form.radio_button :trader_item_id, i.id %> 
    <%= form.label :trader_item_id, i.title %> <br>
  <% end %>
  <%= form.hidden_field :owner_item_id, value: @item.id %>
  <%= form.hidden_field :owner_id, value: @item.user.id %>
  <%= form.submit 'Wyślij ofertę'%>
<% end %>